<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599112692257-f4katp0clql9t8ut5ecqi3crjccpj2p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599112692257-f4katp0clql9t8ut5ecqi3crjccpj2p2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>599112692257-53v4j5i7tn6fq9vg1p1vgh58nmnera5p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDM1N_kMvvbtDgvOSeHNKv0tiLFWk0ZVsU</string>
	<key>GCM_SENDER_ID</key>
	<string>599112692257</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michaeldating.app</string>
	<key>PROJECT_ID</key>
	<string>hallowed-ones</string>
	<key>STORAGE_BUCKET</key>
	<string>hallowed-ones.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599112692257:ios:d153729847d383d4fa2960</string>
</dict>
</plist>