<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044209038635-tnam1nac4ta81bfg7l0rooqbp551hr3m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044209038635-tnam1nac4ta81bfg7l0rooqbp551hr3m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1044209038635-655ol0pksp3vnlqlv5gdhkgm23l2n763.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM9jh7pBZIvP-LVDUVnYlAHPM0v69npCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1044209038635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.encountr.app</string>
	<key>PROJECT_ID</key>
	<string>encountr-49f68</string>
	<key>STORAGE_BUCKET</key>
	<string>encountr-49f68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044209038635:ios:8c0b6a00e8aa616629c16e</string>
</dict>
</plist>